body{
	width: 90% ;
	margin-left: auto;
    margin-right: auto;

	background-color: #393939;
}

.header{
	height: 150px;
	background-color: #FE9901;
	color: black;
	padding: 0px;
	margin: 0px;
	border-radius:20px;
}

.header h1{
	padding-top: 50px;
    text-align: center;
}

.lewo{
	float: left;
	width: 150px;
	padding: 0px;
	margin: 0px;



}

.nav{
	width: 150px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10;
}

#navigation{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	width: 150px;
}

#navigation ul{

	list-style-type: none;
    padding: 0px;
	margin: 0px;
}

#navigation li{
	width: 150px;
	padding: 0px;
	margin: 0px;
    padding-bottom: 5px;
    text-align: center;
    
}



#navigation li a{

	display: block;
	width: 150px;
    text-decoration: none;
    color: #292828;
	padding: 0px;
	margin: 0px;
	padding-right: auto;
	background-color: #F3843D;
	border-radius:20px;
}

#navigation a:hover{
	background-color: #FF5A0A;
}


.news{
	width: 150px;
	background-color:  #FF5A0A;
	float: left;
	margin-bottom: 20px;
}

.news p{
	padding: 5px;
   	 text-align: center;
}

#date {
	text-align: center;
}

.wrapper{
	min-height: 200px;
	padding: 0px;
	margin: 0px;
	margin-left: 160px;
	background-color: #6E6E6E;
}

.wrapper  p{
	padding: 5px;
}

.wrapper form{
	text-align: center;
}


.wrapper form input{
	width: 50px;

}

.srodek {
	margin-bottom:10px;
}

.footer{
	text-align: center;
	color: #000000;
	background-color: #FE9901;
   	text-align: center;
	height: 25px;
	clear: both;
}
