html, body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}

body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
}

.container {
	max-width: 940px;
}

/* Header */
.header {
	padding: 10px 0;
	background-color: rgba(0, 0, 0, .3);
}

.header img {
	height: 40px;
	width: 40px;
}

.header ul {
	display: inline;
}

.header li {
	color: white;
	display: inline;
	margin: 10px 10px 10px 10px;
}

.header li a {
	color: white;
	display: inline;
	margin: 10px 10px 10px 10px;
}

.header li a:hover {
	color: rgba(0, 255, 188, 1);
}

/* Jumbotron */
.jumb {
	position: relative;
	top: 50px;
	text-align: center;
	color: white;
}

.jumb h1 {
	font-size: 60px;
	margin-bottom: 160px;
}

/* Supporting */
.supporting {
	margin-top: 40px;
	display: inline;
	text-decoration: none;
	background-color: black;
}

.supporting h2, p {
	position: relative;
	text-align: center;
	color: white;
}

.supporting img {
	height: 120px;
	width: 120px;
	margin-top: 70px;
	display: block;
	margin-left: auto;
	margin-right: auto
}

.supporting img:hover {
	height: 130px;
	width: 130px;
}

.supporting .btn {
	display: block;
	color: white;
	background-color: rgba(0, 255, 188, 0.5);
	padding: 5px 50px 5px 50px;
	font-size: 18px;
}

.supporting .btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(0, 255, 188, 0.5);
}

.loginDiv {
	color: white;
	display: inline;
	text-decoration: none;
	background-color: black;
	text-align: center;
	width: 90%;
}

.form-signin {
	padding: 50px;
	text-align: center;
	margin: 0 auto;
	max-width: 90%;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 40px;
}

.loginDiv .btn {
	display: block;
	color: white;
	background-color: rgba(0, 255, 188, 0.5);
	font-size: 18px;
	margin-top: 30px;
}

.loginDiv .btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(0, 255, 188, 0.5);
}

.userListDiv, .regDiv {
	background-color: rgba(0, 0, 0, 0.3);
	width: 90%;
	text-align: center;
	margin: 0 auto;
	color: white;
	font-size: larger;
	border-radius: 40px;
}

.regDiv {
	background-color: rgba(0, 0, 0, 0.3);
	width: 90%;
	text-align: center;
	margin: 0 auto;
	color: white;
	padding: 50px;
	font-size: larger;
	border-radius: 40px;
}

.form-control {
	margin-top: 10px;
}

.regDiv .btn {
	color: white;
	background-color: rgba(0, 255, 188, 0.5);
	font-size: 18px;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
}

.regDiv .btn:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(0, 255, 188, 0.5);
}

.dropdown {
	padding-top: 20px;
	text-align: left;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: rgba(0, 0, 0, 0.5);
}

.error{
	color: red;
}
